{% extends 'base.html' %}

{% block title %}
Departments
{% endblock title %}

{% block content %}

    <div lass='list-group'>
        <table>
            <tr>
                <th style="width:100px; height:20px">School</th>
                <th style="width:100px; height:20px">Name</th>
                <th style="width:100px; height:20px">Year</th>
                <th style="width:100px; height:20px">Current location</th>
            </tr>
            {% for department in departments %}
                <tr>
                    <td style="width:150px; height:20px">{{department.school}}</td>
                    <td style="width:100px; height:20px">{{department.name}}</td>
                    <td style="width:100px; height:20px">{{department.year}}</td>
                    <td style="width:100px; height:20px">
                        {% for lecture in lectures %}
                            {% if department.name == lecture.department.name %}
                                {{ lecture.room }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <form action='' method="POST" id='departmentform'>
                            {% csrf_token %}
                            <button class="btn btn-success" name='update_id' type='submit' value='{{department.id}}' form='departmentform'>Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action='' method="POST" id='departmentform'>
                            {% csrf_token %}
                            <button class="btn btn-fail" name='delete_id' type='submit' value='{{department.id}}' form='departmentform'>Delete</button>
                        </form>
                    </td>
                </tr>            
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <a href='../Department/create'><button class="btn btn-success">Add New Department</button></a>
        </div>        
    </div>

{% endblock content %}