{% extends 'base.html' %}

{% block title %}
Departments
{% endblock title %}

{% block content %}

    <div>
        <table>
            <tr>
                <th style="width:100px; height:20px">School</th>
                <th style="width:100px; height:20px">Name</th>
                <th style="width:100px; height:20px">Year</th>
                <th style="width:100px; height:20px">Current location</th>
            </tr>
            {% for department in departments %}
                <tr>
                    <td style="width:150px; height:20px">{{department.school}}</td>
                    <td style="width:100px; height:20px">{{department.name}}</td>
                    <td style="width:100px; height:20px">{{department.year}}</td>
                    <td style="width:100px; height:20px">
                        {% for lecture in lectures %}
                            {% if department.name == lecture.department.name %}
                                {{ lecture.room }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            <form action='' method="POST" id='departmentform'>
                                {% csrf_token %}
                                <button name='update_id' type='submit' value='{{department.id}}' form='departmentform' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 10px; border-radius: 8px; padding: 4px 6px;">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action='' method="POST" id='departmentform'>
                                {% csrf_token %}
                                <button name='delete_id' type='submit' value='{{department.id}}' form='departmentform' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 10px; border-radius: 8px; padding: 4px 6px;">Delete</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>            
            {% endfor %}
        </table>
    </div>
    <br><br>
    {% if user.is_staff %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <a href='../Department/create'><button style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 10px; border-radius: 8px; padding: 4px 6px;">Add New Department</button></a>
        </div>        
    </div>
    {% endif %}

{% endblock content %}