{% extends 'base.html' %}

{% block title %}
Student timetable
{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <p style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 500px;">
            Hello {{user.username}} 
            <br>
            Your department is {{user.department}}
        </p>
        <p>
            <br><br>
            <center><h2>View Your daily timetable</h2></center>
            <table border="1" style="margin-left:auto; margin-right:auto; background: rgb(204,222,241, 0.8);">
                <tr>
                    <th style="width:100px; height:20px">Time</th>
                    {% for t in time %}
                        <th style="width:100px; height:20px">{{t.time}}</th>
                    {% endfor %}
                </tr>
                {% for d in days %}
                <tr height="35px">
                    <th style="width:100px; height:20px">{{d.d}}</td>
                    {% for t in time %}
                        <td style="text-align:center; width:100px; height:20px">
                            {% for l in lectures%}
                                {% if t.time == l.start_time and l.day == d.d %}
                                    {% if l.department == user.department %}
                                        {% if user.group == "lecturer" and l.lecturer == user %}
                                            {% if l.reason == "lecture" %}
                                                {{l.unit}}<br>{{l.department}}<br>{{l.room}}
                                            {% else %}
                                                {{ l.reason }}<br>{{l.room}}
                                            {% endif %}
                                        {% elif user.group == "student" %}
                                            {% if l.reason == "lecture" %}
                                                {{l.unit}}<br>{{l.department}}<br>{{l.room}}
                                            {% else %}
                                                {{l.reason}}<br>{{l.room}}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </p>
    {% endif %}

{% endblock content %}
