{% extends 'base.html' %}

{% block title %}
Master timetable
{% endblock title %}

{% block content %}

    <form method="POST" id="free-room" style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 500px;">
        {% csrf_token %}
        <label for="dy">Enter Room</label>
        <select name="dy" id="dy" form="free-room">
                {% for room in rooms %}
                    <option value ="{{room.room_id}}">{{room.room_id}}</option>
                {% endfor %}
        </select>
        <br>
        <input type="submit" name="Check for free rooms">
    </form>
    <br>
    <h2 style="margin: 10px auto; padding-left:5%">Room: {{rid.room_id| title}}</h2>
    <table border="1">
        <tr>
            <th style="width:100px; height:20px">Time</th>
            {% for t in time %}
                <th style="width:100px; height:20px"> {{ t.time}} </th>
            {% endfor %}
        </tr>
        {% for d in days %}
        <tr height=35px>
            <th style="width:100px; height:20px">{{d.d}}</td>
            {% for t in time%}
                <td style="text-align:center; width:100px; height:20px">
                    {% for l in lectures %}
                        {% if t.time == l.start_time and l.room.room_id == rid.room_id and l.day == d.d %} 
                            {% if l.reason == "lecture" %}
                                {{l.unit}}<br>{{l.department}}
                            {% else %}
                                {{l.reason}}<br>{{l.department}}
                            {% endif %}            
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if user.group ==  "lecturer" or user.is_staff %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <a href='../create'><button class="btn btn-primary" style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px;">Book a room</button></a>
            </div>        
        </div>
    {% endif %}
    


{% endblock content %}