{% extends 'base.html' %}

{% block title %}
Master timetable
{% endblock title %}

{% block content %}

    <form method="POST" id="free-room" style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 250px;">
        {% csrf_token %}
        <center>
        <label for="dy">Enter Room</label>
        <select name="dy" id="dy" form="free-room">
                {% for room in rooms %}
                    <option value ="{{room.room_id}}">{{room.room_id}}</option>
                {% endfor %}
        </select>
        <br>
        <input type="submit" value="Check room timetable">
        </center>
    </form>
    <br>
        <center><h2>Room: {{rid.room_id| title}}</h2></center>
        <table border="1" style="margin-left:auto; margin-right:auto; background: rgb(204,222,241, 0.8); border-radius:8px;">
        <tr>
            <th style="width:100px; height:20px">Time</th>
            {% for t in time %}
                <th style="width:100px; height:20px"> {{ t.time}} </th>
            {% endfor %}
        </tr>
        {% for d in days %}
        <tr height=35px>
            <th style="width:100px; height:20px">{{d.d}}</td>
            {% for t in time%}
                <td style="text-align:center; width:100px; height:20px">
                    {% for l in lectures %}
                        {% if t.time == l.start_time and l.room.room_id == rid.room_id and l.day == d.d %} 
                            {% if l.reason == "lecture" %}
                                {{l.unit}}<br>{{l.department}}
                            {% else %}
                                {{l.reason}}<br>{{l.department}}
                            {% endif %}            
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if user.group ==  "lecturer" or user.is_staff %}
        <center>
            <a href='../create'><center><button class="btn btn-primary" style="justify-content:center; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px;">Book a room</button></center></a>
        </center>        
    {% endif %}

{% endblock content %}