<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            </style>
        <table style="width:100%">
            <tr>
              <th>7AM</th>
              <th>8AM</th>		
              <th>9AM</th>
              <th>10AM</th>
              <th>11AM</th>		
              <th>12PM</th>
              <th>1PM</th>
              <th>2PM</th>		
              <th>3PM</th>
              <th>4PM</th>
            <tr>
              <td>Jill</td>
              <td>Smith</td>		
              <td>50</td>
              <td>Jill</td>
              <td>Smith</td>		
              <td>50</td>
              <td>Jill</td>
              <td>Smith</td>		
              <td>50</td>
              <td>Jill</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>		
              <td>94</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>		
              <td>80</td>
            </tr>
          </table>
    </body>
</html>