<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="C:\Users\roymu\Documents\HTML project\homepage1.css">
<title>
Main timetable 
</title>
</head>
<body>
<center>
<h1 id="one">DEDAN KIMATHI UNIVERSITY</h1>
</center>
<table border=1>
<tr>
<th><b>DAY</b></th>
<th><b>7:00am</b></th>
<th><b>8:00am</b></th>
<th><b>9:00am</b></th>
<th><b>10:00am</b></th>
<th><b>11:00am</b></th>
<th><b>12:00pm</b></th>
<th><b>1:00pm</b></th>
<th><b>2:00pm</b></th>
<th><b>3:00pm</b></th>
<th><b>4:00pm</b></th>
<th><b>5:00pm</b></th>
<th><b>6:00pm</b></th>
<th><b>7:00pm</b></th>

</tr>
<tr>
<td><b>MONDAY</b></td>
<td>Bachelor of science in informatics 2.1</td>
<td>Bachelor of science in Acturial Science 3.2</td>
<td>FREE</td>
</tr>
<tr>
<td><b>TEUSDAY</b></td>
</tr>
<td><b>WEDNESDAY</b></td>
</tr>
<tr>
<td><b>THURSDAY</b></td>
</tr>
<tr>
<td><b>FRIDAY</b></td>
</tr>
</table>
<br>
<br>
<fieldset>
<h1 id="two">Book a lecture room</h1>
<h3 id="three">Select a room</h3>
<input list="select">
<datalist id="select">
<option value="RC1">
<option value="RC2">
<option value="RC3">
<option value="RC4">
<option value="RC5">
<option value="RC6">
<option value="RC7">
<option value="RC8">
<option value="RC9">
<option value="RC10">
<option value="RC11">
<option value="RC12">
<option value="RC13">
<option value="RC14">
<option value="RC15">
<option value="RC16">
<option value="RC17">
<option value="RC18">
<option value="RC19">
<option value="RC20">
</datalist>
<label for="reason">
<h3 id="four">Select a Reason for booking</h3>
</label>
<select id="reason" name="reason">
<option selected value="CAT">I want to hold a CAT in the selected room</option>
<option value="Private meeting">I want to hold a private meeting in the selected room </option>
<option value="Private studies">I want to hold a private study session in the selected room</option>
<option value="Group Discussion"> I want to hold a group study session in the selected room</option>
</select>
<h3 id="six">Select Date and time of booking</h3>
<label for="date">Select the date:</label>
<input type="date" id="date">
<label for="time">Select the time from:</label>
<input type="time" id="time">
<label for="timeto">Select the time To:</label>
<input type="time" id="timeto">
<h3 id="five">Submit booking reason</h3>
<button type="button" name="submit request" onclick="alert(Date())">
SUBMIT REQUEST
</button>
</fieldset>
</body>
</html>