{% extends 'base.html' %}

{% block title %}
Update Login details
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    
    <form method='POST' style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 500px;">
        <br>
        <h3>Edit your details</h3>
        <br><br>
        {% csrf_token %}
        {{ form|crispy }} 
        <input type='submit' value='Save' class='btn btn-primary' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px; ">
        <a href='../../'><button type='button' value='save'class='btn btn-primary' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px; ">Cancel</button></a>
    </form>

{% endblock content %}