{% extends 'base.html' %}

{% block title %}Users page{% endblock title %}

{% block content %}
    <br>
    <center>
        <h2>Users</h2>

        <form method="POST" id="chosen-users" style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 300px;">
            {% csrf_token %}
            <center>
            <label for="choose">Choose group</label>
            <select name="choice" id="choose">
                    <option value ="lecturer">Lecturer</option>
                    <option value ="student">Student</option>
                    <option value ="all">All</option>
            </select>
            <br>
            <input type="submit" name="Check for free rooms">
        </center>
        </form>

        <br>
        {% if users %}
        <h3>{{choice |title}} users</h3>
        {% endif %}
    </center>



    <table style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 700px;">
        {% if users %}
        <tr>
            <th style="padding-left:20px">Username</th>
            <th style="padding-left:20px">Email</th>
            <th style="padding-left:20px">First Name - Last Name</th>
            <th style="padding-left:20px">Department</th>
            <th style="padding-left:20px">Level</th>
        </tr>
        {% endif %}
        {% for user in users %}
            <tr>
                <td style="padding-left:20px">{{user.username}}</td>
                <td style="padding-left:20px">{{user.email}}</td>
                <td style="padding-left:20px">{{user.first_name}} - {{user.last_name}}</td>
                <td style="padding-left:20px">{{user.department}}</td>
                <td style="padding-left:20px">{{user.group}}</td>
                <td style="padding-left:50px">
                    <form action='' method="POST">
                        {% csrf_token %}
                        <button class="btn btn-success" name='delete-id' type='submit' value='{{user.id}}'>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <center>
        <a href='../register'><button class="btn btn-success">Add New User</button></a>
    </center>   
{% endblock content %}