{% extends 'base.html' %}

{% block title %}User registration{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
    <style>
        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: inherit;
       }
    </style>
    <div class='container py-5'>
        <form method='POST' style="margin: 10px auto; opacity:.8; border-radius: 8px; padding: 10px; background: #f4f7f8; max-width: 500px;">
            {% csrf_token %}
            {{ form|crispy}}
            <button type='submit' value='save' class='btn btn-primary' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px;">Create</button>
            {% if user.is_authenticated %}
                <button type="button" class='btn btn-primary' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px;"><a href="../list">Cancel</a></button>
            {% else %}
                <button type="button" class='btn btn-primary' style="margin-right: auto; margin-left:10%; color: black; background-color: rgb(48, 187, 241); font-size: 12px; border-radius: 8px; padding: 6px 12px;"><a href="../login">Cancel</a></button>
            {% endif %}
            
        </form>
    </div>
{% endblock content %}s